@font-face {
    font-family: 'Inter', sans-serif ;
    src: url('/Users/louie/Desktop/senglish/website/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
    font-family: 'Inter-black', sans-serif ;
    src: url('/Users/louie/Desktop/senglish/website/fonts/Inter/static/Inter-Black.ttf');
}

*{
    color: black;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    /* border: solid 1px red; */
    max-width: 100%;
}

#navLogo{
    max-width: 15rem
}

li {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding-inline: 3em;
}

a{
    text-decoration: none;
    font-family: 'Inter',  sans-serif;
}

a:hover{
    border-bottom: #2746D2 3px groove;
    border-radius: 3px 3px;
}
.activePage{
    border-bottom: #2746D2 3px groove;
    border-radius: 3px 3px;

    
}

.bannerContainer{
    /* display: inline; */
    /* border: solid red 1px; */
    max-width: 100%;
    height: 65dvh;
    background-color: #2746D2;
    
}
.banner{
    background-color: #2746ff;
    background-image: url(images/van.png);
    height: 65dvh;
    background-position:center;
    
}

.bannerRibbon{
    background-image: url(images/bannerBackground.svg);
    width: 55%;
    height: 14vh;
    position: absolute;
    top: 25%;
}


.bannerRibbon h1{
    min-width: 100%;
    color: white;
    font-family: 'Inter-black', sans-serif ;
    font-weight: bold;
    line-height: 121.5%;
    letter-spacing: 3px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 2.5rem;
}
.bannerRibbon h2{
    min-width: 100%;
    color: #B3BEF0;
    font-family: 'Inter', sans-serif ;
    font-weight:900;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 10px;
    font-size: 1.5rem;
}

.bannerLabel{
    /* border: solid red 1px; */
    width: 400px;
    overflow: hidden;
    position: fixed;
    right: 0;
    height: 530px;
}





@media  (max-width: 780px) {
    li{
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    header{
        flex-direction: column;
    }
    
    #navLogo{
        justify-content: center;
        max-width: 20rem;
    }

    .bannerContainer{
        height: 30dvh;
    }
    .banner{
        height: 30dvh;
        background-size: cover;
    }


    .bannerRibbon h1{
        font-size: 1.5rem;
    }
    .bannerRibbon h2{
        font-size: 1rem;
    }
    
}


@media  (max-width: 600px) {    
    li{
        display: inline-block;
        font-size: small;
    text-align: center;    }

    nav{
        /* border: solid red 1px; */
    }

    .bannerContainer{
        height: 30dvh;
    }
    .banner{
        height: 30dvh;
        background-size: cover;
    }
    .bannerRibbon h1{
        font-size: 1rem;
    }
    .bannerRibbon h2{
        font-size: .8rem;
    }

    .bannerRibbon{
        background-image: url(images/bannerBackground.svg);
        width: 55%;
        height: 14vh;
        position: absolute;
        top: 25%;
    }

}




