@font-face {
    font-family: 'Inter', sans-serif ;
    src: url('/Users/louie/Desktop/senglish/website/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

*{
    color: black;
    margin: 0;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F3F3F3;
    /* border: solid 1px red; */
    max-width: 100%;
}

#navLogo{
    max-width: 25rem
}

li {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    padding-inline: 5rem;
    border: solid green 1x;    
}
a{
    text-decoration: none;
    font-family: 'Inter',  sans-serif;
}

a:hover{
    border-bottom: #2746D2 5px groove;
    border-radius: 5px 5px;
}
.activePage{
    border-bottom: #2746D2 5px groove;
    border-radius: 5px 5px;

    
}

body{
}

.banner img{
    max-width: 100%; 
}

@media  (max-width: 780px) {
    li{
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    header{
        flex-direction: column;
    }
    
    #navLogo{
        justify-content: center;
        max-width: 20rem;
    